<%- include('partials/head') %>

<!doctype html>
  <html>
    <div class="container-fluid">
        <head>
            <%- include('partials/header') %>
        </head>
        <body>
            <div id="content">
            <content>
              <div id="reading">
                <thead>
                  <tr>
                    <font color="999">date read</font>&nbsp;&nbsp;&nbsp;<b>title</b>/author
                  </tr>
                </thead>
                <tbody>
                  <table>
                    <% for (var book in bookshelf) { %>
                      <tr>
                        <td>
                          <font color="999"><%- JSON.stringify(bookshelf[book].dateread).replace(/["]+/g, '') %></font> &nbsp;<b><a href=<%- JSON.stringify(bookshelf[book].link)%>><%- JSON.stringify(bookshelf[book].title).replace(/["]+/g,'') %></a></b> by <%- JSON.stringify(bookshelf[book].author).replace(/["]+/g,'') %>
                        </td>
                      </tr>
                    <% } %>
                  </table>
                </tbody>
              </div>
            </content>  
        </body>  
      <%- include('partials/footer') %>
    </div>
</html>